.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 10px;
}

.search-box {
  border-bottom: 1px solid;
  height: fit-content;
}

.search-box input {
  border: 0;
  padding: 10px;
}

.product-card-item {
  padding: 20px 0;
  cursor: pointer;
}

.product-card-item:hover {
  scale: 1.05;
}

.product-card-item img {
  width: 100%;
  height: 100%;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}